header{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 48px;
}

header img{
    width: 52px;
    height: 60px;
}

.quizz-screen{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 100px;
}

.icons {
    margin-top: 7px;
}

[name~="checkmark-circle"] {
    font-size: 23px;
    color: var(--zap-color);
}

[name~="help-circle"] {
    font-size: 23px;
    color: orange;
}

[name~="close-circle"] {
    font-size: 23px;
    color: red
}

@media (min-width: 700px) {

    header {
        margin-bottom: 70px;
    }
    header img {
        width: 90px;
        height: 100px;
    }
}